{% extends "base.html" %}

{% block title %}
{% endblock title %}
{% block content %}
    <main>
        <div>
            <h1>Expense Category</h1>
            <table>
                <thead>
                    <tr>
                        <th>Category</th>
                        <th>Number of receipts</th>
                    </tr>
                </thead>
                <tbody>
                    {% for category in category_list %}
                        <tr>
                            <td>{{ category.name }}</td>
                            <td>{{ category.receipts.all|length }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
{% endblock content %}
